{% extends "../index.html" %} {% block content %}
<div class="main-content">
  <div class="detalhe-section">
    <p class="font-big">{{ clinica.nome }}
      <p>
        <span>Endereço da Clinica: {{ clinica.cidade }} {{ clinica.endereco }}</span>
        <hr />
        <span>Especialidades:</span>
        <ul class="list-unstyled">
          {% for reg in clinica.especialidades %}
            <li class="uppercase">{{ reg }}</li>
          {% endfor %}
        </ul>

        <span>Médicos:</span>
        <ul class="list-unstyled">
          {% for reg in medicos %}
            <li class="uppercase">{{ reg.nome }}</li>
          {% endfor %}
        </ul>

        <div>
          <button class="btn btn-success">Agendar Consulta</button>
        </div>
  </div>
</div>
{% endblock %}