{% extends "../layout.html" %} {% block content %}

<div class='main-content'>
  <h1>Pesquisa de Clinica</h1>
  <form action="/localizarClinica" method="post" id="searchForm">
    <div class='form-group'>
      <label>Cidade:</label>
      <input type='text' placeholder='Cidade' id='nome_cidade' class='form-control' />
    </div>

    <div class='form-group'>
      <label>Especialidade:</label>
      <input type='text' placeholder='Especialidade' id='especialidade' class='form-control' />
    </div>

    <div class='form-group'>
      <button type='submit' class='btn btn-primary'>Pesquisar</button>
    </div>
  </form>


  <table class="table table-bordered table-hover table-responsive" id="resultTable" style="display:none">
    <thead>
      <tr>
        <th class="text-center">Clinica</th>
        <th class="text-center">Endereço </th>
        <th class="text-center">Cidade </th>
        <th class="text-center">Telefone </th>
        <th class="text-center">Visualizar </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

</div>

<script>
  $('#searchForm').submit(function (e) {
    e.preventDefault();
    $.ajax({
      url: '/localizarClinica',
      method: 'post',
      data: {
        cidade: $('#nome_cidade').val(),
        especialidade: $('#especialidade').val() || ''
      },
      success: function (data, textStatus) {
        $('#resultTable').css("display", "block");
        $('#resultTable').DataTable().destroy();
        $('#resultTable').DataTable({
          data: data,
          columns: [{
              data: 'nome'
            },
            {
              data: 'endereco'
            },
            {
              data: 'cidade'
            },
            {
              data: 'telefone'
            },
            {
              data: '_id',
              render: function (data, type, row) {
                return '<a href=\"/detalhe/' + data + '\">Visualizar</a>'
              }
            }
          ],
          language: {
            sLengthMenu: "_MENU_ clinicas",
            sInfo: "Mostrando _END_ de _TOTAL_ clinicas(s)",
            emptyTable: "<p class=\"text-danger text-center\">Nenhuma clinica cadastrada!</p>"
          },
          searching: false
        })
      }
    })
  });
</script>

{% endblock %}